.createpost {
  display: flex;
  margin-bottom: 0.75rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  height: 10%;
  align-self: stretch;
  border-radius: 10px;
  /* background-color: blue; */
}

.createpost {
  display: flex;
  flex: 1;
  align-self: stretch !important;
  align-items: space-around;
  border-radius: 10px;
}

.createpost input {
  width: 80%;
  margin-right: 15px;
  border-radius: 10px;
}
