.post {
  display: inline-block;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
}

.post-header {
  margin: 4px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 1rem;
  font-size: small;
  align-items: stretch;
}

.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.post-body,
.post-body p {
  display: inline-block;
  overflow-wrap: break-word;
  justify-content: center;
  padding: 5px;
  font-size: 16px;
  line-height: 18px;
}
